{{ bundle("entrys/homepage/default") }}

{% import "./public/blocks/ListArticleItem.njk" as ListArticleItem %}

{% extends "layouts/app.njk" %}
{% block title %}Homepage{% endblock %}
{% block main %}
  <a href="">这是一个测试的连接</a>
{% endblock %}