@import '~@/css/vars.styl';
@import '~@/css/public/reset.styl';
@import '~@/css/public/components/layout-header.styl';

#app {
  .app-layout {
    position: relative;
    min-width: 1280px;

    .layout-main {
      width: 1170px;
      margin: 0 auto;
      padding: 44px 0 0;
    }
  }
}