$themeColor = #4285f4; /* 主题色 */
$fontColor = #262626;
$white = #fff;
$headerBgColor = #3b3b3b;
$shadowColor = rgba(0, 0, 0, 0.1);
$borderColor = #f2f2f2;
$modalBgColor = rgba(0, 0, 0, 0.5);
$zIndexContent = 9;
$zIndexFloat = 99;
$zIndexModal = 999;
$zIndexMax = 9999;
$fontBold = 500;
$fontBolder = 600;